.app.light {
  --bg-color: rgb(255, 255, 255);
  --bg-inverted-color: rgb(0, 0, 36);

  --primary-color: rgb(32, 9, 206);
  --secondary-color: rgb(48, 9, 167);
  --inverted-primary-color: rgb(11, 160, 11);
  --inverted-secondary-color: rgb(0, 255, 0);
}
